@mixin netbook {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

.contacts_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(40px);
}

.contacts_title {
    margin-top: 1%;
    font-size: rem(48px);
    font-family: 'typographicaregular';
    @include phone {
        font-size: rem(40px);
    }
}

.contacts_map_list {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: rem(30px);
    @include tablet {
        flex-direction: column;
        margin-top: rem(10px);
    }
    @include phone {
        flex-direction: column;
        margin-top: rem(10px);
    }
}

.contacts_map {
    width: 60%;
    @include tablet {
        width: 100%;
    }
    @include phone {
        width: 100%;
    }
}

.map_iframe {
    width: rem(550px);
    height: rem(400px);
    @include netbook {
        height: rem(400px);
        width: rem(450px);
    }
    @include tablet {
        width: 100%;
        height: rem(450px);
    }
    @include phone {
        width: 100%;
        height: rem(400px);
    }
}

.contacts_list {
    height: rem(400px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include netbook {
        height: rem(300px);
    }
    @include tablet {
        height: auto;
    }
    @include phone {
        height: auto;
    }
}

.contacts_item {
    display: flex;
    align-items: center;
    font-size: rem(28px);
    font-family: 'typographicaregular';
    @include tablet {
        margin-top: rem(30px);
        justify-content: center;
    }
    @include phone {
        margin-top: rem(30px);
        justify-content: center;
    }
}

.contacts_img {
    width: rem(40px);
    height: rem(40px);
    margin-right: rem(20px);
    font-weight: normal;
}

.contacts_git {
    color: #000000;
    &:hover {
        color: #3b3b3b;
    }
}