@mixin netbook {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

.greet_section-main {
    height: rem(535px);
    display: flex;
    flex-direction: column;
    position: relative;
    @include netbook {
        height: rem(430px);
    }
    @include tablet {
        height: rem(280px);
    }
    @include phone {
        height: rem(210px);
    }
}

.greet_section-slider {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.greet_section-btns {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    @include tablet {
        height: 7%;
    }
    @include phone {
        height: 10%;
    }
}

.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    &.active {
        opacity: 1;
    }
}

.slide-pic {
    max-width: 100%;
    max-height: 100%;
}

.slide-btn {
    width: rem(12px);
    height: rem(12px);
    border-radius: 50%;
    background-color: rgba(126, 126, 126, 0.616);
    display: inline-block;
    cursor: pointer;
    margin-left: rem(5px);
    &.active {
        background-color: #ffffff;
    }
    &:first-child {
        margin-left: 0;
    }
}