.header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
}

.header_logo-link {
    display: flex;
    align-items: center;
    color: #000000;
}

.header_logo-pic {
    width: 90px;
    height: 100px;
}

.header_logo-img {
    max-width: 90px;
}

.header_logo-text {
    font-family: 'orange_juiceregular';
    font-size: 36px;
    margin-left: 15px;
}

.header_menu {
    display: flex;
}

.header_menu-item {
    font-size: 24px;
    font-family: 'data_controllatin';
    border: 3px solid transparent;
    border-radius: 20px;
    transition: border .4s;
    &:hover {
        border: 3px solid #ffffff;
    }
}

.header_menu-link {
    color: black;
    display: block;
    padding: 10px;
    &:hover {
        color: #ffffff;
    }
}

#search {
    display: none;
}

.header_search {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.search_btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
    &:hover {
        opacity: .3;
    }
}

.search-img {
    max-width: 20px;
}

.search_input {
    width: 0;
    height: 26px;
    border: none;
    border-radius: 15px;
    transition: width 300ms linear, margin-right 300ms linear;
    &:focus {
        outline: none;
    }
    &.active {
        display: block;
        width: 130px;
        height: 26px;
        margin-right: 10px;
        padding: 5px;
        &:focus {
            outline: none;
        }
        &~.search_btn {
            opacity: .3;
        }
    }
}

.header_menu-item.dropdown {
    position: relative;
    &:hover {
        .quizes_dropdown {
            left: 50%;
            margin-left: -90px;
            opacity: .8;
            top: 120%;
        }
        .header_menu-link {
            color: #ffffff;
        }
    }
}

.quizes_dropdown {
    width: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 50;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 40px;
    cursor: pointer;
    left: -9000px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 20px;
        top: -20px;
    }
}

.quizes_dropdown-item {
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    &:first-child {
        margin-top: 0;
    }
}

.quizes_dropdown-link {
    color: #000000;
    font-size: 20px;
    opacity: 1;
    &:hover {
        color: #fcdb00;
    }
}

.header_menu-item.log {
    position: relative;
}

.header_menu-item.active {
    border: 3px solid #ffffff;
    .header_menu-link {
        color: #ffffff;
    }
}

.login_form {
    width: 300px;
    position: absolute;
    background-color: #ffffff;
    border: 3px solid #000000;
    z-index: 50;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    top: -500000px;
    transition: opacity .5s ease-in-out;
    opacity: 0;
    &.active {
        top: 120%;
        opacity: .8;
    }
}

.login_text {
    font-size: 20px;
    font-family: 'typographicaregular';
}

.login_input {
    width: 80%;
    height: 28px;
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    &:focus {
        outline: none;
    }
}

.login_confirm {
    font-size: 18px;
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    font-family: 'mirror_82regular';
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #b4b4b4;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #8b8b8b;
    }
}

.new_user {
    margin-top: 10px;
    display: none;
    font-family: 'mirror_82regular';
}

.new_user.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new_user-btns {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.new_user-text {
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.new_user-conf {
    width: 30%;
    margin-top: 5px;
    font-size: 18px;
    background-color: #b4b4b4;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    padding: 3px;
    &:hover {
        background-color: #8b8b8b;
    }
    &:focus {
        outline: none;
    }
}