@mixin netbook {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

.header {
    height: rem(120px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include netbook {
        height: rem(100px);
    }
    @include tablet {
        height: rem(90px);
    }
    @include phone {
        height: rem(90px);
    }
}

.header_logo {
    display: flex;
}

.header_logo-link {
    display: flex;
    align-items: center;
    color: #000000;
}

.header_logo-pic {
    width: rem(90px);
    height: rem(100px);
    @include netbook {
        width: rem(70px);
        height: rem(80px);
    }
    @include tablet {
        width: rem(50px);
        height: rem(60px);
    }
    @include phone {
        width: rem(40px);
        height: rem(50px);
    }
}

.header_logo-img {
    max-width: rem(90px);
    @include netbook {
        max-width: rem(70px);
    }
    @include tablet {
        max-width: rem(50px);
    }
    @include phone {
        max-width: rem(40px);
    }
}

.header_logo-text {
    font-family: 'orange_juiceregular';
    font-size: rem(36px);
    margin-left: rem(15px);
    @include netbook() {
        font-size: rem(26px);
        margin-left: rem(10px);
    }
    @include tablet() {
        font-size: rem(22px);
        margin-left: rem(7px);
    }
    @include phone {
        font-size: rem(18px);
        margin-left: rem(5px);
    }
}

.header_menu {
    display: flex;
    @include tablet {
        width: 66%;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    @include phone {
        width: 70%;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

.header_menu-item {
    font-size: rem(24px);
    font-family: 'data_controllatin';
    border: rem(3px) solid transparent;
    border-radius: 20px;
    transition: border .4s;
    &:hover {
        border: rem(3px) solid #ffffff;
        @include netbook() {
            border: 2px solid #ffffff;
        }
        @include tablet {
            border: 1px solid transparent;
        }
        @include phone {
            border: 1px solid transparent;
        }
    }
    @include netbook() {
        font-size: rem(18px);
        border: 2px solid transparent;
    }
    @include tablet {
        font-size: rem(18px);
        border: 1px solid transparent;
    }
    @include phone {
        font-size: rem(14px);
        border: 1px solid transparent;
    }
}

.header_menu-link {
    color: black;
    display: block;
    padding: rem(5px);
    &:hover {
        color: #ffffff;
        @include tablet {
            color: black;
        }
        @include phone {
            color: black;
        }
    }
    @include netbook {
        padding: rem(5px);
    }
    @include tablet {
        padding: rem(3px);
    }
    @include phone {
        padding: 3px;
    }
}

#search {
    display: none;
}

.header_search {
    display: flex;
    align-items: center;
    margin-left: rem(10px);
}

.search_btn {
    width: rem(20px);
    height: rem(20px);
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
    &:hover {
        opacity: .3;
    }
}

.search-img {
    max-width: rem(20px);
}

.search_input {
    width: 0;
    height: rem(26px);
    border: none;
    border-radius: rem(15px);
    transition: width 300ms linear, margin-right 300ms linear;
    &:focus {
        outline: none;
    }
    &.active {
        display: block;
        width: rem(130px);
        height: rem(26px);
        margin-right: rem(10px);
        padding: rem(5px);
        &:focus {
            outline: none;
        }
        &~.search_btn {
            opacity: .3;
        }
    }
}

.header_menu-item.dropdown {
    position: relative;
    &:hover {
        .quizes_dropdown {
            left: 50%;
            margin-left: rem(-90px);
            opacity: .8;
            top: 120%;
        }
        .header_menu-link {
            color: #ffffff;
        }
    }
}

.quizes_dropdown {
    width: rem(180px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 50;
    background-color: #ffffff;
    border: rem(3px) solid #000000;
    border-radius: rem(40px);
    cursor: pointer;
    left: -9000px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: rem(20px);
        top: rem(-20px);
    }
}

.quizes_dropdown-item {
    text-align: center;
    margin-top: rem(5px);
    border-radius: rem(10px);
    &:first-child {
        margin-top: 0;
    }
}

.quizes_dropdown-link {
    color: #000000;
    font-size: rem(20px);
    opacity: 1;
    &:hover {
        color: #fcdb00;
    }
}

.header_menu-item.log {
    position: relative;
}

.header_menu-item.active {
    border: rem(3px) solid #ffffff;
    .header_menu-link {
        color: #ffffff;
    }
    @include netbook {
        border: 2px solid #ffffff;
    }
    @include tablet {
        border: 1px solid #ffffff;
    }
    @include phone {
        font-size: rem(14px);
        border: 1px solid #ffffff;
    }
}

.login_form {
    width: rem(300px);
    position: absolute;
    background-color: #ffffff;
    border: rem(3px) solid #000000;
    z-index: 50;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem(25px);
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    top: -50000px;
    transition: opacity .5s ease-in-out;
    opacity: 0;
    &.active {
        top: 120%;
        opacity: .8;
    }
}

.login_text {
    font-size: rem(20px);
    font-family: 'typographicaregular';
}

.login_input {
    width: 80%;
    height: rem(28px);
    margin-top: rem(10px);
    font-size: rem(18px);
    font-family: Arial, Helvetica, sans-serif;
    padding: rem(5px);
    border: rem(2px) solid black;
    border-radius: rem(10px);
    &:focus {
        outline: none;
    }
}

.login_confirm {
    font-size: rem(18px);
    width: 50%;
    padding: rem(5px);
    margin-top: rem(10px);
    font-family: 'mirror_82regular';
    font-weight: bold;
    border-radius: rem(10px);
    border: 1px solid black;
    cursor: pointer;
    background-color: #b4b4b4;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #8b8b8b;
    }
}

.new_user {
    margin-top: rem(10px);
    display: none;
    font-family: 'mirror_82regular';
}

.new_user.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.new_user-btns {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.new_user-text {
    font-size: rem(14px);
    width: 100%;
    text-align: center;
}

.new_user-conf {
    width: 30%;
    margin-top: rem(5px);
    font-size: rem(18px);
    background-color: #b4b4b4;
    border-radius: rem(10px);
    border: 1px solid black;
    cursor: pointer;
    padding: rem(3px);
    &:hover {
        background-color: #8b8b8b;
    }
    &:focus {
        outline: none;
    }
}