.quizes {
    background-color: #fff;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.quizes_title {
    margin-top: 20px;
    font-size: 48px;
    font-family: 'typographicaregular';
}

.quiz_menu {
    display: flex;
}

.quiz_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 300px;
    opacity: .8;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
    transition: all 0.5s ease;
    &.active,
    &:hover {
        opacity: 1;
        .quiz_pic,
        .quiz_img {
            transform: scale(1.1);
        }
    }
}

.quiz_pic {
    transition: all 0.5s ease;
    width: 200px;
    height: 200px;
}

.quiz_img {
    transition: all 0.5s ease;
    max-width: 200px;
}

.quiz_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.quiz_info-title {
    font-size: 38px;
    font-family: 'typographicaregular';
}

.quiz_info-questions,
.quiz_info-time {
    font-size: 24px;
    margin-top: 5px;
    font-family: 'front_page_neueregular';
}

.quiz_start {
    width: 280px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000000;
    border: none;
    border-radius: 40px;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: 'typographicaregular';
    color: #ffffff;
    cursor: pointer;
    &:disabled {
        outline: none;
        background-color: #928f8f;
        cursor: default;
    }
    &:focus {
        outline: none;
    }
}

.login_anchor {
    width: 30%;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'typographicaregular';
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    display: none;
}