.quizes {
    background-color: #fff;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.quizes_title {
    margin-top: 15px;
    font-size: 48px;
    font-family: 'typographicaregular';
}

.quiz_menu {
    display: flex;
}

.quiz_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 300px;
    opacity: .8;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
    &.active,
    &:hover {
        opacity: 1;
        .quiz_pic {
            width: 250px;
            height: 250px;
        }
        .quiz_img {
            max-width: 250px;
        }
    }
}

.quiz_pic {
    width: 200px;
    height: 200px;
}

.quiz_img {
    max-width: 200px;
}

.quiz_text {
    font-size: 24px;
    margin-top: 10px;
    font-family: 'data_controllatin';
}

.quiz_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz_info-title {
    font-size: 38px;
    font-family: 'typographicaregular';
}

.quiz_info-questions,
.quiz_info-time {
    font-size: 24px;
    margin-top: 5px;
    font-family: 'front_page_neueregular';
}

.quiz_start {
    width: 280px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000000;
    border: none;
    border-radius: 40px;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: 'typographicaregular';
    color: #ffffff;
    cursor: pointer;
    &:disabled {
        outline: none;
        background-color: #928f8f;
        cursor: default;
    }
    &:focus {
        outline: none;
    }
}