@mixin netbook {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

.report_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report_title {
    font-size: rem(46px);
    font-family: 'typographicaregular';
    @include phone {
        font-size: rem(40px);
    }
}

.report_short-list {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: rem(150px);
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.479);
    padding: rem(20px);
    border-radius: rem(40px);
    @include netbook {
        width: 60%;
    }
    @include tablet {
        width: 80%;
    }
    @include phone {
        width: 100%;
    }
}

.report_short-item {
    display: flex;
    justify-content: space-between;
    font-family: 'mirror_82regular';
    font-size: rem(24px);
    font-weight: bold;
}

.details_button {
    margin-top: rem(5px);
    width: 20%;
    height: rem(30px);
    border: none;
    color: #ffffff;
    border-radius: rem(40px);
    background-color: #616161;
    transition: all .8s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 rem(40px);
    align-items: center;
    font-family: 'mirror_82regular';
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #000000;
    }
    &.active {
        .arrow_down {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }
    @include netbook() {
        width: 30%;
    }
    @include tablet {
        width: 50%;
    }
    @include phone {
        width: 70%;
    }
}

.arrow_down {
    border: solid #ffffff;
    border-width: 0 rem(3px) rem(3px) 0;
    display: inline-block;
    padding: rem(3px);
    transform: rotate(45deg);
    transition: all .5s ease-in-out;
}

.report_details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.479);
    padding: rem(10px);
    border-radius: rem(40px);
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
    margin-bottom: rem(20px);
    &.active {
        opacity: 1;
        visibility: visible;
        opacity: 1;
    }
    @include netbook {
        width: 90%;
    }
    @include tablet {
        width: 100%;
    }
    @include phone {
        width: 100%;
    }
}

.report_details-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: rem(10px);
    font-family: 'mirror_82regular';
    border-bottom: 1px solid black;
    padding-bottom: rem(5px);
    &:last-child {
        border: none;
    }
}

.report_question-text {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: rem(18px);
}

.user_choice,
.correct_choice {
    width: 50%;
    text-align: center;
    margin-top: rem(5px);
    font-weight: bold;
}

.correct_choice {
    color: green;
}