@mixin netbook {
    @media screen and (max-width: 992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 480px) {
        @content;
    }
}

.scores_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores_section-title {
    font-size: rem(46px);
    font-family: 'typographicaregular';
    @include phone {
        font-size: rem(40px);
    }
}

.scores_quizes-list {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.479);
    padding: rem(20px);
    border-radius: rem(40px);
    margin-top: rem(20px);
    @include netbook {
        width: 70%;
    }
    @include tablet {
        width: 90%;
    }
    @include phone {
        width: 100%;
    }
}

.quiz_item {
    margin-top: rem(10px);
    display: flex;
    justify-content: space-around;
    font-size: rem(24px);
    font-family: 'mirror_82regular';
    font-weight: bold;
    cursor: pointer;
    &:hover {
        color: #00000086;
    }
    &:first-child {
        margin-top: 0;
    }
    @include phone {
        font-size: rem(18px);
    }
}

.quiz_count {
    width: 10%;
}

.quiz_type {
    width: 20%;
}

.quiz_score {
    width: 20%;
}

.quiz_date {
    width: 50%;
    text-align: right;
}