.container.quiz {
  height: 100vh; }
  @media screen and (max-width: 768px) {
    .container.quiz {
      height: auto;
      margin-bottom: 10px; } }
  @media screen and (max-width: 480px) {
    .container.quiz {
      height: auto;
      margin-bottom: 10px; } }

.quiz_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: rem(10px);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal; }
  @media screen and (max-width: 768px) {
    .quiz_section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .quiz_section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }

.quiz_section-left {
  width: 60%; }
  @media screen and (max-width: 768px) {
    .quiz_section-left {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .quiz_section-left {
      width: 100%; } }

.quiz_section-right {
  width: 38%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .quiz_section-right {
      width: 100%;
      height: auto; } }
  @media screen and (max-width: 480px) {
    .quiz_section-right {
      width: 100%;
      height: auto; } }

.question_block {
  height: rem(110px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: rem(24px); }
  @media screen and (max-width: 768px) {
    .question_block {
      height: auto;
      padding: rem(20px); } }
  @media screen and (max-width: 480px) {
    .question_block {
      height: auto;
      padding: rem(20px); } }

.question_text {
  width: 95%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.btns_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.quiz_btn {
  background-color: #000000;
  color: white;
  cursor: pointer;
  -webkit-border-radius: rem(40px);
          border-radius: rem(40px);
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  padding: rem(20px);
  margin-bottom: rem(10px);
  text-align: center; }
  .quiz_btn:hover {
    background-color: #252300af; }

.quiz_btn.active {
  background-color: #ffffff;
  color: #000000; }

.confirmation,
.time_count {
  height: rem(45px);
  margin-top: rem(10px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }
  @media screen and (max-width: 768px) {
    .confirmation,
    .time_count {
      height: auto;
      margin-top: 2px; } }
  @media screen and (max-width: 480px) {
    .confirmation,
    .time_count {
      height: auto;
      margin-top: 2px; } }

.time_count {
  margin-top: rem(40px); }
  @media screen and (max-width: 768px) {
    .time_count {
      margin-top: rem(10px); } }
  @media screen and (max-width: 480px) {
    .time_count {
      margin-top: rem(10px); } }

.confirm_btn {
  width: 30%;
  background-color: #20c000;
  -webkit-border-radius: rem(40px);
          border-radius: rem(40px);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: rem(18px);
  color: white;
  padding: rem(5px) rem(10px); }
  .confirm_btn:hover {
    background-color: #1c9b03; }
  .confirm_btn:focus {
    outline: 0; }
  .confirm_btn:disabled {
    background-color: #317424;
    cursor: default; }
  @media screen and (max-width: 768px) {
    .confirm_btn {
      width: 50%;
      padding: rem(15px) rem(10px); } }
  @media screen and (max-width: 480px) {
    .confirm_btn {
      width: 60%;
      padding: rem(20px) rem(10px); } }

.timer {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: rem(30px);
  font-weight: bold; }

.quiz_title {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'typographicaregular';
  letter-spacing: rem(3px); }

.quiz_title-pic {
  width: 80%; }
  @media screen and (max-width: 768px) {
    .quiz_title-pic {
      display: none; } }
  @media screen and (max-width: 480px) {
    .quiz_title-pic {
      display: none; } }

.quiz_title-text {
  font-size: rem(30px);
  font-weight: bold;
  margin-top: rem(10px); }
  @media screen and (max-width: 480px) {
    .quiz_title-text {
      font-size: rem(26px);
      font-weight: normal; } }

.progress_block {
  font-size: rem(40px);
  margin-top: rem(40px); }
  @media screen and (max-width: 768px) {
    .progress_block {
      font-size: rem(28px);
      margin-top: rem(5px); } }
  @media screen and (max-width: 480px) {
    .progress_block {
      font-size: rem(28px);
      margin-top: rem(5px); } }
