.container.quiz {
  height: 100vh; }

.quiz_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal; }

.quiz_section-left {
  width: 60%; }

.quiz_section-right {
  width: 38%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.question_block {
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px; }

.question_text {
  width: 95%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.btns_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.quiz_btn {
  background-color: #000000;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center; }
  .quiz_btn:hover {
    background-color: #252300af; }

.quiz_btn.active {
  background-color: #ffffff;
  color: #000000; }

.confirmation,
.time_count {
  height: 45px;
  margin-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }

.time_count {
  margin-top: 40px; }

.confirm_btn {
  width: 30%;
  background-color: #20c000;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: white;
  padding: 5px 10px; }
  .confirm_btn:hover {
    background-color: #1c9b03; }
  .confirm_btn:focus {
    outline: 0; }
  .confirm_btn:disabled {
    background-color: #317424;
    cursor: default; }

.timer {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: bold; }

.quiz_title {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'typographicaregular';
  letter-spacing: 3px; }

.quiz_title-pic {
  width: 80%; }

.quiz_title-text {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px; }

.progress_block {
  font-size: 40px;
  margin-top: 40px; }
