.quizes {
  background-color: #fff; }
  .quizes .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.quizes_title {
  margin-top: 15px;
  font-size: 48px;
  font-family: 'typographicaregular'; }

.quiz_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.quiz_choice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 350px;
  opacity: .8;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden; }
  .quiz_choice.active, .quiz_choice:hover {
    opacity: 1; }
    .quiz_choice.active .quiz_pic, .quiz_choice:hover .quiz_pic {
      width: 300px;
      height: 300px; }
    .quiz_choice.active .quiz_img, .quiz_choice:hover .quiz_img {
      max-width: 300px; }

.quiz_pic {
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
  width: 250px;
  height: 250px; }

.quiz_img {
  max-width: 250px; }

.quiz_text {
  font-size: 24px;
  margin-top: 10px;
  font-family: 'data_controllatin'; }

.quiz_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.quiz_info-title {
  font-size: 38px;
  font-family: 'typographicaregular'; }

.quiz_info-questions,
.quiz_info-time {
  font-size: 24px;
  margin-top: 5px;
  font-family: 'front_page_neueregular'; }

.quiz_start {
  width: 280px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000000;
  border: none;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  font-size: 30px;
  letter-spacing: 4px;
  font-family: 'typographicaregular';
  color: #ffffff;
  cursor: pointer; }
  .quiz_start:disabled {
    outline: none;
    background-color: #928f8f;
    cursor: default; }
  .quiz_start:focus {
    outline: none; }
