.scores_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.scores_section-title {
  font-size: rem(46px);
  font-family: 'typographicaregular'; }
  @media screen and (max-width: 480px) {
    .scores_section-title {
      font-size: rem(40px); } }

.scores_quizes-list {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.479);
  padding: rem(20px);
  -webkit-border-radius: rem(40px);
          border-radius: rem(40px);
  margin-top: rem(20px); }
  @media screen and (max-width: 992px) {
    .scores_quizes-list {
      width: 70%; } }
  @media screen and (max-width: 768px) {
    .scores_quizes-list {
      width: 90%; } }
  @media screen and (max-width: 480px) {
    .scores_quizes-list {
      width: 100%; } }

.quiz_item {
  margin-top: rem(10px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-size: rem(24px);
  font-family: 'mirror_82regular';
  font-weight: bold;
  cursor: pointer; }
  .quiz_item:hover {
    color: #00000086; }
  .quiz_item:first-child {
    margin-top: 0; }
  @media screen and (max-width: 480px) {
    .quiz_item {
      font-size: rem(18px); } }

.quiz_count {
  width: 10%; }

.quiz_type {
  width: 20%; }

.quiz_score {
  width: 20%; }

.quiz_date {
  width: 50%;
  text-align: right; }
