@font-face {
    font-family: 'orange_juiceregular';
    src: url('../fonts/orange_juice_2.0-webfont.woff2') format('woff2'), url('../fonts/orange_juice_2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'data_controllatin';
    src: url('../fonts/data-latin-webfont.woff2') format('woff2'), url('../fonts/data-latin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typographicaregular';
    src: url('../fonts/typographica-webfont.woff2') format('woff2'), url('../fonts/typographica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'front_page_neueregular';
    src: url('../fonts/frontpageneue-webfont.woff2') format('woff2'), url('../fonts/frontpageneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}